---
# idempiere.yml - Ansible variables for iDempiere installation
# IMPORTANT: Change passwords before production use!
# Consider using ansible-vault for sensitive values

#############################################################################
# iDempiere Configuration
#############################################################################
idempiere_version: "12"
idempiere_user: "idempiere"
idempiere_group: "idempiere"
idempiere_install_dir: "/opt/idempiere-server"
idempiere_download_dir: "/home/idempiere/downloads"

# Download URL (SourceForge daily build)
idempiere_zip_file: "idempiereServer12Daily.gtk.linux.x86_64.zip"
idempiere_download_url: "https://sourceforge.net/projects/idempiere/files/v12/daily-server/{{ idempiere_zip_file }}"

#############################################################################
# Web Server Configuration
#############################################################################
idempiere_web_port: 8080
idempiere_ssl_port: 8443
idempiere_hostname: "{{ ansible_hostname }}"

# Keystore password for SSL (change in production!)
idempiere_keystore_password: "myPassword"

#############################################################################
# Database Configuration
# Note: db_host, db_port, db_name, db_user, db_password are read from
# /home/idempiere/.pgpass (created by NixOS idempiere-prerequisites.nix)
#############################################################################
db_type: "PostgreSQL"

# PostgreSQL admin user (for creating database and setting system password)
db_admin_user: "postgres"
db_admin_password: "postgres"  # CHANGE THIS!

#############################################################################
# Java Configuration
#############################################################################
# NixOS will set JAVA_HOME, but we define it explicitly for scripts
java_home: "/run/current-system/sw"

#############################################################################
# REST API Plugin Configuration
#############################################################################
# Install REST API plugin by default
install_rest_plugin: true

# REST plugin p2 repository URL (Jenkins daily build)
rest_plugin_p2_url: "https://jenkins.idempiere.org/job/idempiere-rest/ws/com.trekglobal.idempiere.extensions.p2/target/repository/"
rest_plugin_feature: "com.trekglobal.idempiere.rest.api"

#############################################################################
# Mail Configuration (optional)
#############################################################################
mail_host: "localhost"
mail_user: ""
mail_password: ""
mail_admin: "admin@localhost"
